.bg-accueil{
    width: 100%;
    height: 100px;

}

.div-cstm{
    height: 200px;
    width: auto;
    -webkit-clip-path: polygon(8% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(8% 0%, 100% 0%, 95% 100%, 0% 100%);
    background-color: #D3EBFF;
    border-radius: 5px;
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.div-full{
    width: 100%;
    background-image: url("../img/skate.jpg");
    background-position: 100% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 600px;
    position: sticky;
    -webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
}


.p-cstm{
    position: relative;
    left: 30px;
    top: 20%;
    width: 50%;


}

@media only screen and (max-width: 900px) {

    .p-cstm{
        position: relative;
        left: 10%;
        top: 27%;
        width: 40%;
        font-size: 1.5em;
        line-height: 32px;
    }


    .div-mob{
        margin-top: 20px;
    }
}



body{
    font-size: 1.1em;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    margin-top: 100px;
    left: 50%;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translateY(10%) }
    90% { transform: translateY(2%);

    }
}
